.navigation
  .container
    .row
      .col-lg-2.border
        .navigation__logo
          a(href="index.html").navigation__logo-link
            img(src='img/logo.png')
      .col-lg-10.border
        .navigation__menu
          button.navigation-menu__btn.hidden-md-up
           i.fa.fa-3x.fa-bars
          ul.navigation-menu__ul
            li.navigation-menu__li
              a.navigation-menu__link.navigation-menu__link--active Home
            li.navigation-menu__li
              a.navigation-menu__link About Me
            li.navigation-menu__li
              a.navigation-menu__link Skills
            li.navigation-menu__li
              a.navigation-menu__link Resume
            li.navigation-menu__li
              a.navigation-menu__link Testimonials
            li.navigation-menu__li
              a.navigation-menu__link Portfolio
            li.navigation-menu__li
              a.navigation-menu__link Contact Me
